<html>
    <div class="wrapper">
        <nav id="sidebar">
            <a routerLink="">
                <img src="../../assets/icon.jpg">
            </a>
            <ul>
                <li>
                    <h1>
                        c y n t h i a
                    </h1>
                </li>
                <li>
                    <a routerLink="resume" routerLinkActive="active">about me</a>
                </li>
                <li>
                    <a routerLink="w" routerLinkActive="active">writing</a>
                </li>
                <li>
                    <a routerLink="c" routerLinkActive="active">code</a>
                </li>
                <li>
                    <a routerLink="g" routerLinkActive="active">graphics</a>
                </li>
                <li>
                    email: <a href="mailto:cynthiadong2000@gmail.com" class="email">cynthiadong2000@gmail.com</a>
                </li>
            </ul>
        </nav>
    </div>
</html>