<body>
    <h1>Code</h1>
    <p>
            <a href="https://github.com/cxd00/disaster-alert">Disaster Alert</a>
        </p>
    <p>
        <a href="https://github.com/cxd00/kenken-solver">KenKen Puzzle Solver</a>
    </p>
    <p>
        <a href="https://github.com/cxd00/serious-tictactoe">Play 4x4x4 Tic Tac Toe against an algorithm!</a>
    </p>
    <p>
        <a href="http://pearlhacks19.firebaseapps.com/">CampusWatch</a>
    </p>
    <p>
        <a href="https://devpost.com/software/on-the-issues">On The Issues</a>
    </p>
</body>
