<body>
    <h1>Read some of my better articles!</h1>
    <ul>
        <li>
            <a href="https://www.dailytarheel.com/article/2020/06/no-contact-orders">"It's not on us": From UNC to the courts, restraining order enforcement raises concerns</a>        
        </li>
        <li>
            <a href="https://www.dailytarheel.com/article/2019/11/cs-department-issues">Waitlists and frustrations grow as UNC's computer science department tries to keep up</a>        
        </li>
        <li>
            <a href="https://www.dailytarheel.com/article/2019/11/luxury-apartments-affordability">A Tale of Two Towns</a>        
        </li>
        <li>
            <a href="https://www.dailytarheel.com/article/2019/09/us-china-students">How students get caught up in the US/China Trade War </a>        
        </li>
        <li>
            <a href="https://www.dailytarheel.com/article/2019/04/gaza-conference-refunds-0421">Several co-sponsors of the 'Conflict Over Gaza' conference want refunds</a>        
        </li>
        <li>
            <a href="https://www.dailytarheel.com/article/2019/03/free-speech-unc-campus-trump-0326">How students are shaping the way free speech looks on UNC's Campus</a>        
        </li>
    </ul>
</body>