<html>
   <body>
      <h1>Graphic Design</h1>
      <p>
         <a href="../../assets/hncsplash.png">Hack NC Sponsorship 1 | </a>
         <a href="../../assets/hnc19stats.pdf">2 | </a>
         <a href="../../assets/bitspon.png">AfroPix Sponsorship</a>
      </p>
      <div class="row">
         <div class="column">
            <a class="image-link" href="assets/hacknc/bitlogo.svg">
               <img src="assets/hacknc/bitlogo.svg" class="myimg">
            </a>
            <img src="assets/hacknc/logobit1.svg" class="myimg">
            <img src="assets/hacknc/hncbanner.png" class="myimg">
         </div>
         <div class="column">
            <img src="assets/hacknc/sticker4.svg" class="myimg">
            <img src="assets/hacknc/sticker3.png" class="myimg">
            <img src="assets/hacknc/postcardsticker.png" class="myimg">
         </div>
         <div class="column">
            <img src="assets/hacknc/hncshirt.png" class="myimg">
            <img src="assets/hacknc/hacknc19logoii.png" class="myimg">
            <img src="assets/hacknc/afropix.png" class="myimg">
         </div>
      </div>
   </body>
</html>
