<body>
    <div class="col align-items-center">
        <h1>
            ABOUT ME
        </h1>
        <p>
            Hi! My name is Cynthia, and I'm a junior studying computer science and Peace, War, and Defense (with oxford comma) at UNC Chapel Hill, with a minor in chemistry. 
            I'm interested in using technology to understand and improve the world around us.
            When I'm not coding, I can be found doing a number of things: running through forests, reading (too many) <a href="https://www.goodreads.com/user/show/23255835-cynthia">books,</a> volunteering, writing for the Daily Tar Heel, watching the Great British Bake Off (best show in the world), or making sock monkeys.
            For a look into my professional life, check out my resume!
        </p>
    </div>
</body>
<a href="../../assets/resshort.pdf">résumé</a>