p {
    text-align: justify;
    width: 70%;
}

body {
    margin-top: 20%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1px;
    font-family: "Georgia", serif;
}

a {
    text-align: center;
    color: #c06c84;
}

h1 {
    text-align: center;
}

.container {
    height: 100%;
}