@import '~bootstrap/dist/css/bootstrap.css';
html {
    background: #FFFFFF;
    font-family: 'Georgia', sans-serif;
    font-weight: 300;
    line-height: 2.0em;
    text-align: center;
    margin: 0px;
}

a {
    text-decoration: none;
}

p {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #000000;
}


